
/* 
$c-gray1: #F2F2F2;
$c-gray2: #EBEBEB;
$c-gray3: #D7D7D7;
$c-gray4: #9B9B9B;


@mixin placeholder {
		&::placeholder {@content}
}

@mixin focus {
  &:focus {@content}
}


.bg-gray1 {
	background-color: $c-gray1;
}
.bg-gray2 {
	background-color: $c-gray2;
}
.bg-gray3 {
	background-color: $c-gray3;
}


.border-black {
  border-color: #000 !important;
}

.border-gray3 {
  border-color: $c-gray3 !important;
}

.h-simple-d {
	height: 45px;
}

.text-black {
	color: black;
}
.text-gray4 {
	color: $c-gray4;
}

.w-90 {
	width: 90% !important; 
}


body {
	font-family: "Roboto";
}

.title {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 1.5rem;
}

.title2 {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 2.25rem;
}

.sub-title {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 1.25rem;
}



.label {
	font-family: "Roboto";
	font-style: italic;
}

.btn-filter {
	border-radius: 10rem;
}
.btn-filter:focus {
	outline: none;
	box-shadow: none;
}

.spot:hover {
	box-shadow: 10px 10px 5px $c-gray3;
	cursor:pointer;
}

.search-input {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 1.25rem;
	color: $c-gray1;

	@include placeholder {
		font-family: "Roboto";
		font-weight: 400;
		font-size: 1.25rem;
		color: rgba(#FFFFFF , 0.5);
	}

	@include focus {
		color: $c-gray1;
		box-shadow: none;
	}
}

.search-input-s {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 1.25rem;
	color: black;

	@include placeholder {
		font-family: "Roboto";
		font-weight: 400;
		font-size: 1.25rem;
		// color: rgba(#FFFFFF , 0.5);
		color: $c-gray4;
	}

	@include focus {
		color: black;
		box-shadow: none;
	}
}

*/

// 中文直排由右至左
// .write-vr {
// 	writing-mode: vertical-rl;
// }

// .list-board {
// 	height: 420px;	
// 	line-height: 2.5rem;
// }

.c-zindex-10 {
	z-index: 10;
}

// log 2nd pattern height
.c-hlog2 {
		height: 16px;
}
.c-hlog_xx {
		he: 16p
}

// sell title 1
.s-title-1 {
	background-image: url("../../img/photo-1490914327627-9fe8d52f4d90.jpg");
	// background-repeat:no-repeat;
	background-size: 120% auto;
	background-position:20% 60% ;
	height: 180px;
}
// sell title 2
.s-title-2 {
	background-image: url("../../img/photo-1504114133367-631ecd3db3ca.jpg");
	// background-repeat:no-repeat;
	background-size: 120% auto;
	background-position:20% 50% ;
	height: 180px;

}
// sell title 3
.s-title-3 {
	background-image: url("../../img/photo-1499638472904-ea5c6178a300.jpg");
	// background-repeat:no-repeat;
	background-size: 120% auto;
	background-position:20% 100% ;
	height: 180px;
}
// sell title text
.s-title-text {
	writing-mode: vertical-rl;
	height: 100%;
	width: 100%;
	text-align: center;
	opacity: 0.95;
	font-size: 20px;
	// 垂直字距
	letter-spacing: 5px;
	// top:calc(50% - 20px);
	// padding-left:calc(50% - 20px);
	// display:inline-block;
	// vertical-align: middle;
	//line-height: 2.5rem;
	// line-height: 100%;
}

.s-title-middle {
	margin-right: calc(100vw / 6 - 15px);
	// padding-right:calc(40%);
	// display:inline-block;
	// vertical-align: middle;
}

.show-why1 {
	height: 120px;
	padding-top: 30px;
	img {
		height: 60px;
	}
}

.show-why2 {
	height: 120px;
	padding-top: 30px;
	img {
		height: 60px;
	}
}

.show-why3 {
	height: 120px;
	padding-top: 30px;
	img {
		height: 60px;
	}
}

.pr-n01 {
	margin: 0 30px 0 30px;
	padding: 30px 0 30px 0;  
}
.pr-n02 {
	//margin: 0 30px 0 30px;
	margin-left: -15px;
	padding: 30px 40px 30px 45px;
}

.list-board {
	height: 388px;	
	line-height: 2.5rem;
	font-size: 1.35rem;
}

.pic1 {
		height: 250px;
		background-size: 102%;
		background-position-y: center;
		background-image: url("../../img/photo-1519730722595-a5ff788dea4d.jpg");	
}

.pic2 {
		height: 250px;
		background-size: 102%;
		background-position-y: center;
		background-image: url("../../img/photo-1501432781167-c0ccfd492297.jpg");	
}

@media (min-width: 576px) {
	.c-sm-hlog2 {
		height: 24px;
	}

	// margin top set 1 
	.c-mt-t1 {
		margin-top: -90px;
	}

	// sell title 1
	.s-title-1 {
		height: 256px;
	}
	// sell title 2
	.s-title-2 {
		height: 256px;
	}
	// sell title 3
	.s-title-3 {
		height: 256px;
	}

	.s-title-text {
		font-size: 24px;
	}

	.s-title-middle {
		margin-right: calc(540px/8 - 18px);
	}

	.show-why1 {
		height: 80px;
		padding-top: 0 ;
		img {
			width: 78px;
			height: auto;
			margin-right: 10px;
			margin-left: auto;
			margin-top: 60px;
		}
	}

	.show-why2 {
		height: 80px;
		padding-top: 0 ;
		img {
			width: 78px;
			height: auto;
			top: 50px;
			right: 560px;
		}
	}

	.show-why3 {
		height: auto;
		padding-top: 0 ;
		img {
			width: 78px;
			height: auto;
			margin: 60px auto 60px auto;
		}
	}

	.pr-n01 {
		float : right;
		margin-top: 70px;
		margin-bottom: 40px;
		margin-right: 160px;
		padding: 0;
	}
	.pr-n02 {
		margin-left: 0;
		// float : right;
		top: 40px;
		right: 640px;
		// margin-top: 70px;
		// margin-bottom: 40px;
		// margin-right: 160px;
		padding: 0;
	}

	.content {
		.list-board {
			height: 430px;	
			line-height: 2.5rem;
			writing-mode: vertical-rl;
			// padding-top: 70px;
			// padding-bottom: 40px;
			font-size: 1rem;
		}
	}

	.pic1 {
			margin-left: 42px;
			margin-top: -275px;
			width: 480px;
			height: 480px;
			opacity:1.0;
			background-image: url("../../img/photo-1519730722595-a5ff788dea4d.jpg");	
	}

	.pic2 {
			// margin-left: 42px;
			// margin-top: 50px;
			top: 50px;
			right:42px;
			width: 480px;
			height: 480px;
			opacity:1.0;
			background-image: url("../../img/photo-1501432781167-c0ccfd492297.jpg");	
	}

}

@media (min-width: 768px) {
	.s-title-middle {
		margin-right: calc(720px/8 - 18px);
	}
}
@media (min-width: 992px) {
	.s-title-middle {
		margin-right: calc(960px / 8 - 18px);
	}
}
@media (min-width: 1200px) {
	.s-title-middle {
		margin-right: calc(1140px / 8 - 18px);
	}
}

// no border 
.c-border-none {
	border-style: none;
}






//padding right #02
// .pr-n02 {
// 	padding-right: 210%;
// }
//margin bottom  padding right #01
// .mb-n01 {
// 	margin-bottom: 250px;
// }
//margin bottom  padding right #01
// .mb-n02 {
// 	margin-bottom: 105px;
// }
//margin bottom  padding right #01
// .mb-n03 {
// 	margin-bottom: 500px;
// }

.s1 {
	border: 1px solid #000;
}


