/* 
$c-gray1: #F2F2F2;
$c-gray2: #EBEBEB;
$c-gray3: #D7D7D7;
$c-gray4: #9B9B9B;


@mixin placeholder {
		&::placeholder {@content}
}

@mixin focus {
  &:focus {@content}
}


.bg-gray1 {
	background-color: $c-gray1;
}
.bg-gray2 {
	background-color: $c-gray2;
}
.bg-gray3 {
	background-color: $c-gray3;
}


.border-black {
  border-color: #000 !important;
}

.border-gray3 {
  border-color: $c-gray3 !important;
}

.h-simple-d {
	height: 45px;
}

.text-black {
	color: black;
}
.text-gray4 {
	color: $c-gray4;
}

.w-90 {
	width: 90% !important; 
}


body {
	font-family: "Roboto";
}

.title {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 1.5rem;
}

.title2 {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 2.25rem;
}

.sub-title {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 1.25rem;
}



.label {
	font-family: "Roboto";
	font-style: italic;
}

.btn-filter {
	border-radius: 10rem;
}
.btn-filter:focus {
	outline: none;
	box-shadow: none;
}

.spot:hover {
	box-shadow: 10px 10px 5px $c-gray3;
	cursor:pointer;
}

.search-input {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 1.25rem;
	color: $c-gray1;

	@include placeholder {
		font-family: "Roboto";
		font-weight: 400;
		font-size: 1.25rem;
		color: rgba(#FFFFFF , 0.5);
	}

	@include focus {
		color: $c-gray1;
		box-shadow: none;
	}
}

.search-input-s {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 1.25rem;
	color: black;

	@include placeholder {
		font-family: "Roboto";
		font-weight: 400;
		font-size: 1.25rem;
		// color: rgba(#FFFFFF , 0.5);
		color: $c-gray4;
	}

	@include focus {
		color: black;
		box-shadow: none;
	}
}

*/
.c-hlog2 {
  height: 16px;
}

.s-title-1 {
  background-image: url("../../img/photo-1490914327627-9fe8d52f4d90.jpg");
  background-size: 120% auto;
  background-position: 20% 60%;
  height: 180px;
}

.s-title-2 {
  background-image: url("../../img/photo-1504114133367-631ecd3db3ca.jpg");
  background-size: 120% auto;
  background-position: 20% 50%;
  height: 180px;
}

.s-title-3 {
  background-image: url("../../img/photo-1499638472904-ea5c6178a300.jpg");
  background-size: 120% auto;
  background-position: 20% 100%;
  height: 180px;
}

.s-title-text {
  writing-mode: vertical-rl;
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: 0.95;
  font-size: 20px;
  letter-spacing: 5px;
}

.s-title-middle {
  margin-right: calc(50% - 15px);
}

@media (min-width: 576px) {
  .c-sm-hlog2 {
    height: 24px;
  }
  .s-title-1 {
    height: 256px;
  }
  .s-title-2 {
    height: 256px;
  }
  .s-title-3 {
    height: 256px;
  }
  .s-title-text {
    font-size: 24px;
  }
	.s-title-middle {
	  margin-right: calc(50% - 18px);
	}
}

.c-border-none {
  border-style: none;
}

.pr-n01 {
  padding-right: 50%;
}

.pr-n02 {
  padding-right: 210%;
}

.mb-n01 {
  margin-bottom: 250px;
}

.mb-n02 {
  margin-bottom: 105px;
}

.mb-n03 {
  margin-bottom: 500px;
}

.s1 {
  border: 1px solid #000;
}

.content .list-board {
  height: 430px;
  line-height: 2.5rem;
  writing-mode: vertical-rl;
  padding-top: 70px;
  padding-bottom: 40px;
}

/*# sourceMappingURL=style.css.map */